@model HCBShop.ViewModel.CartModel

<a asp-action="Index" asp-controller="Cart" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
    <div class="icon">
        <i class="icon-shopping-cart"></i>
        <span class="cart-count">@Model.SoLuong</span>
    </div>
    <p>Cart</p>
</a>

<div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-cart-action">
        <a asp-action="Index" asp-controller="Cart" class="btn btn-primary">View Cart</a>
        <a asp-action="CheckOut" asp-controller="Cart" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
    </div><!-- End .dropdown-cart-total -->
</div><!-- End .dropdown-menu -->

