@model IEnumerable<HCBShop.Models.Product>

<div class="tab-pane p-0 fade" id="products-sale-tab" role="tabpanel" aria-labelledby="products-sale-link">
    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
         data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4
                                    }
                                }
                            }'>
        @foreach(var item in Model)
        {
            <div class="product product-2">
                <figure class="product-media">
                    <a href="/san-pham/@item.ProductName.ToLower().Replace(" ", "-").Replace(" đ", "d" ).Replace(" ", " -").Replace("--", "-" )">
                        <img src="~/AccountPage/assets/images/image-product/@item.ProductImage" alt="Product image" class="product-image">
                    </a>

                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>Add To Wishlist</span></a>
                    </div><!-- End .product-action -->

                    <div class="product-action product-action-dark">
                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.ProductId" class="btn-product btn-cart" title="Add to cart"><span>Add To Cart</span></a>
                        <a href="#" class="btn-product btn-quickview" title="Quick view"><span>View</span></a>
                    </div><!-- End .product-action -->
                </figure><!-- End .product-media -->

                <div class="product-body">
                    <div class="product-cat">
                        <a href="#">Digital Cameras</a>
                    </div><!-- End .product-cat -->
                    <h3 class="product-title"><a href="/san-pham/@item.ProductName">@item.ProductName</a></h3><!-- End .product-title -->
                    <div class="product-price">
                        @item.ProductPrice
                    </div><!-- End .product-price -->
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-val" style="width: 70%;"></div><!-- End .ratings-val -->
                        </div><!-- End .ratings -->
                        <span class="ratings-text">( 11 Reviews )</span>
                    </div><!-- End .rating-container -->
                </div><!-- End .product-body -->
            </div>

            <!-- End .product -->
        }

    </div><!-- End .owl-carousel -->
</div><!-- .End .tab-pane -->
